@media (max-width:1920px){
.whiteComponentContainer{
    width: 100%;
height: 3368px;
background-color: #FFFFFF;
display: flex;
flex-direction: column;
position: relative;

}
.whiteComponentHeadingContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 332px;
}
.whiteComponentMainHeading{
    width: 45%;

height: 144px;

display: flex;
justify-content: center;
align-items: center;
font-size: 60px;
font-weight: 400;
line-height: 72px;
letter-spacing: -0.05em;
text-align: center;
position: absolute;

}
.WhiteComponentUpper{

height: 496px;
display: flex;
flex-direction: column;
position: relative;
align-items: center;
gap: 140px

}
.whiteComponentUpperContainer{
    width: 80%;
    height: 204px;
    display: flex;
    justify-content: center;
  
}
.whiteComponentUpperLeftContainer{
    width: 321px;

    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    margin: 40px;
    border-right: 2px solid #E0E0E0; /* Set the initial border width and color */
    height: 53%; /* Ensure the border stretches to the full height of its container */
    position: relative;

}
.whiteContentHorizintalLine{
    left: 46%;
    bottom: 58%;
    width: 60px;
    height: 2px;
    margin: 0 auto;
    background-color: #040404;
    position: absolute;
}
.whiteContentHorizintalLine2{
  
    width: 80%;
    height: 2px;
    margin: 0 auto;
    background-color: #040404;
    position: absolute;
}

.whiteComponentNumbers{
    height: 36px;
    width: 100%;
    text-align: left;

font-size: 16px;
font-weight: 300;
line-height: 28px;
letter-spacing: 0em;
text-align: left;

}
.whiteComponentContnet{
height: 72px;
width: 88%;
text-align: left;

font-size: 24px;
font-weight: 300;
line-height: 36px;
letter-spacing: 0em;
text-align: left;

}
.whiteComponentUpperPart2{
    height: 152px;
    width: 100%;
    max-width: 1056px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    gap: 32px;
    margin: 0 auto;
}
.whiteComponentUpperPart2Heading{
    height: 48px;
    width: 100%;

font-size: 36px;
font-weight: 400;
line-height: 48px;
letter-spacing: -0.05em;
text-align: center;

}
.whiteComponentUpperPart2Content{
width: 100%;
height: 72px;

font-size: 24px;
font-weight: 300;
line-height: 36px;
letter-spacing: 0em;
text-align: center;

}
.whiteComponentSlider{
    width: 100%;
    height: 754px;
    overflow: hidden;
  z-index: 100;
    position: relative;
    margin-top: 80px;
    border-bottom: 1px solid #E0E0E0;
}
.whiteComponentSliderContainer{
    width: 2136px;
    left: 152px;
 
    height: 654px;
    position: absolute;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 20px;
overflow-x: hidden;
}
.sliderImageContainer{
    height: 654px;
    width: 516px;

}
.sliderImage{
    height: 100%;
    width: 100%;
}

.firstImage {
    height: 654px;
    width: 516px;
  }
  
  .otherImages {
    height: 516px;
    width: 516px;
  }
  .sliderArrowContainer{
    display: flex;
    width: 136px;
    height: 48px;
    position: absolute;
    right: 540px;
    bottom: 0px;
    justify-content: center;
    align-items: center;
    gap: 20px;

  }
  .arrows{
    font-size: 42px;
    color: black;
  }

  .whiteComponentLower{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .whiteComponentInnerDiv{
    margin-top: 100px;
    width: 100%;
    max-width: 1326px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap:40px;
  }
  .whiteComponentIneerDivUpper{
    height: 196px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
  }
  .whiteComponentIneerDivUpperHeading{
    width: 100%;
    height: 84px;

font-size: 74px;
font-weight: 400;
line-height: 84px;
letter-spacing: -0.05em;
text-align: center;

  }
  .whiteComponentIneerDivUpperContent{
    height: 72px;
width: 75%;
font-size: 24px;
font-weight: 300;
line-height: 36px;
letter-spacing: 0em;
text-align: center;

  }
.whiteComponentInnerDivLower{
    height: 1348px;
    width: 100%;
    max-width: 1326px;
    gap: 88px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.whiteComponentInnerDivLowerBox{
    width: 75%;
    max-width: 1326px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.whiteComponentInnerDivLowerBoxLeft{
    width: 516px;
    height: 292px;
    gap: 24px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}
.whiteComponentInnerDivLowerBoxLeftNumber{
    width: 100%;
    text-align: left;

font-size: 16px;
font-weight: 300;
line-height: 28px;
letter-spacing: 0em;

;
}
.whiteComponentInnerDivLowerBoxLeftHeading{
width: 100%;
font-size: 36px;
font-weight: 400;
line-height: 48px;
letter-spacing: -0.05em;
text-align: left;

}

/* //styleName: Web/Body/B3;
font-family: Haffer SQ XH;
font-size: 20px;
font-weight: 300;
line-height: 32px;
letter-spacing: 0em;
text-align: left;
 */

 .whiteComponentInnerDivLowerBoxLeftContent{
    width: 80%;
    font-size: 20px;
font-weight: 300;
line-height: 32px;
letter-spacing: 0em;
text-align: left;
 }
 .whiteComponentLastDiv{
    height: 230px;
    width: 100%;
    max-width: 1326px;
    position: absolute;
    margin: 0 auto;
    background-color: white;
display: flex;
justify-content: flex-start;
align-items: center;
flex-direction: column;
 }
 .whiteComponentLastDivUpper{
    width: 100%;
    max-width: 769px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
 }
 .whiteComponentLastDivUpperCenter{
    height: 60px;
    width: 593px;

font-size: 48px;
font-weight: 400;
line-height: 45px;
letter-spacing: -0.05em;
text-align: center;

 }
 .whiteComponentLastDivUpperRight{
    height: 1px;
    background-color: #040404;
    margin-right: 5px;
    width: 5%;
 }
 .whiteComponentLastDivUpperLeft{
    height: 1px;
    background-color: #040404;
    margin-left: 5px;
    width: 5%;
 }
 .whiteComponentLastDivMiddle{
    width: 100%;
    max-width: 1326px;
    height: 2px;
    background-color: #040404;
    margin: 20px;
 }
 .whiteComponentLastDivLower{
    width: 100%;
    max-width: 1326px;
    height: 164px;
    display: flex;
    justify-content: space-evenly;

 }
 .whiteComponentLastDivLowerSectionLeft{
width: 33%;
height: 100%;
display: flex;
justify-content: center;
align-items: center;
gap: 10px;
 }
 .whiteComponentLastDivLowerSectionLeftNumber{

font-size: 16px;
font-weight: 300;
line-height: 28px;
letter-spacing: 0em;
text-align: center;
height: 50%;
 }
 .whiteComponentLastDivLowerSectionLeftContent{
    width: 300px;
    height: 72px;

font-size: 24px;
font-weight: 300;
line-height: 36px;
letter-spacing: 0em;
text-align: left;


 }
 .whiteComponentLastDivLowerSectionLeftContentVerticalLine{
    height: 70px;
    width: 1px;
    background-color: #040404;
    margin-left: 20px;
 }
}

@media (max-width:1440px){
    .whiteComponentMainHeading{
        width: 60%;
  height: 120px;

font-size: 48px;
font-weight: 400;
line-height: 60px;
letter-spacing: -0.05em;
text-align: center;

  }
  .firstImage{
    height: 522px;
  }
  .otherImages{
height: 412px;
  }
  .whiteComponentHeadingContainer{
    height: 300px;
  }
    .WhiteComponentUpper{
     
    height: 448px;
  width: 100%;

    gap: 120px
    
    }

    .whiteComponentUpperContainer{
        width: 100%;
        height: 188px;
        display: flex;
        justify-content: center;
      
    }
    .whiteComponentUpperLeftContainer{
        width: 235px;
        height: 108px;
        margin: 20px;

    }
    .whiteComponentNumbers{

font-size: 16px;
font-weight: 300;
line-height: 28px;
letter-spacing: 0em;
text-align: left;

    }
    .whiteComponentUpperPart2{
height: 140px;
    }
    .whiteComponentUpperPart2Heading{
        height: 44px;
        font-size: 32px;
font-weight: 400;
line-height: 44px;
letter-spacing: -0.05em;
text-align: center;

    }
    .whiteComponentUpperPart2Content{
        height: 64px;
        font-size: 20px;
        line-height: 32px;
    }
    .whiteComponentSlider{
      overflow: hidden;
        height: 602px;
       
    }
    .whiteComponentSliderContainer{
     left: 82px;   
     height: 530px;
     width: 1708px;
    }
    .whiteComponentUpperPart2{
        width: 63%;
    }
    .whiteComponentLastDiv{
        width:76%;
        left: 170px;
        height: 256px;
    }
    .whiteComponentLastDivLowerSectionLeftNumber{
        line-height: 40px;

    }
    .whiteComponentLastDivLowerSectionLeft{
        width: 25%;
    }
    .BlackSliderImagesContainer{
        overflow: hidden;
    }
}
@media (max-width:1024px){
    .whiteComponentMainHeading{
        width: 50%;
  height: 96px;

font-size: 36px;
font-weight: 400;
line-height: 48px;
letter-spacing: -0.05em;
text-align: center;

  }
  .whiteComponentLastDivLowerSectionLeftContent{
    font-size: 20px;
    width: 100%;
    height: 44px;
  }

  
  .whiteComponentLastDivUpperCenter{
    font-size: 32px;
  }
  .whiteComponentLastDivUpperCenter{
    height: 54px;
    width: 377px;
  }
  .whiteComponentInnerDivLowerBoxLeftContent{
    font-size: 16px;
  }
  .whiteComponentInnerDivLowerBoxLeftHeading{
    font-size: 32px;
    line-height: 44px;
  }
  .whiteComponentIneerDivUpperHeading{
    height: 60px;
    font-size: 48px;
    line-height: 60px;
  }
  .whiteComponentIneerDivUpper{
    height: 140px;
  }
  .whiteComponentInnerDivLower{
    height: 1092px;
   
  }
  .whiteComponentUpperPart2{
   height: 124px;
}
  .whiteComponentUpperPart2Content{
    font-size: 16px;
  }
  .whiteComponentHeadingContainer{
    height: 210px;
  }
  .WhiteComponentUpper{
     
    height: 360px;
  width: 100%;

    gap: 88px
    
    }
    .whiteComponentContainer{
        height: 2848px;
    }
    .whiteComponentInnerDivLowerBoxLeftContent{
        width: 100%;
    }
    .whiteComponentInnerDivLowerBoxLeft{
        height: 264px;
        width: 400px;
    }
    .whiteComponentInnerDivLowerBox{
        width: 90%;

    }
    .whiteComponentUpperContainer{
        width: 100%;
        height: 148px;
        display: flex;
        justify-content: center;
      
    }
        .whiteComponentUpperLeftContainer{
        width: 196px;
        height: 100px;
        margin: 10px;

    

    }
    .whiteComponentNumbers{
        height: 36px;
        width: 100%;
        text-align: left;
    
    font-size: 16px;
    font-weight: 300;
    line-height: 28px;
    letter-spacing: 0em;
    text-align: left;
    
    }
    .whiteComponentContnet{
    height: 72px;
    width: 88%;
    text-align: left;
    
    font-size: 20px;
    font-weight: 300;
    line-height: 32px;
    letter-spacing: 0em;
    text-align: left;
    
    }
    .whiteComponentLastDiv{
        left: 110px;
    }
}
@media (max-width:744px){
.whiteComponentMainHeading{
    height:92px;
    line-height: 46px;
    text-align: left;
    width: 72%;
}
.WhiteComponentUpper{
     
    height: 500px;
  width: 100%;

    gap: 88px
}
.whiteComponentUpperPart2{
    height: 156px;
    width: 74%;
 }
.whiteComponentUpperLeftContainer{
    width: 272px;
    height: 124px;

}
.whiteComponentUpperContainer{
    flex-wrap: wrap;
    height: 280px;
}
.whiteContentHorizintalLine{
    left: 44%;
    bottom: 32%;
}

.whiteComponentUpperPart2Heading{
font-size: 24px;
text-align: left;
}
.whiteComponentUpperPart2Content{
font-size: 20px;
text-align: left;
}
.whiteComponentUpperPart2{
  
    gap: 24px;
}
}
@media (max-width:390px){
    .whiteComponentContainer{
        height: 60%;
    }
    .whiteComponentLastDivUpperLeft{
        display: none;
      }
      .whiteComponentLastDivUpperRight{
        display: none;
      }
      .whiteComponentLastDivUpperCenter{
        width: 100%;
        font-size: 24px;
        text-align: left;
      }
    .whiteComponentInnerDivLowerBoxLeft{

    }
    .whiteComponentLastDiv{
        height: 354px;
        left: 45px;
    }
    .whiteComponentLastDivLower {
        width: 100%;
 
        height: 286px;
        display: flex;
        justify-content: space-evenly;
        flex-direction: column;
    }
    .whiteComponentLastDivLowerSectionLeft{
        width: 100%;
    }
.whiteComponentMainHeading{
    height: 220px;
    line-height: 42px;
    width: 88%;
    font-size: 32px;
}
.WhiteComponentUpper{
height: 584px;
}
.whiteComponentUpperLeftContainer{
    width: 342px;
    height: 60px;
}
.whiteComponentHeadingContainer{
height: 170px;
}
.whiteComponentUpperPart2{
    height: 224px;
    width: 90%;
}
.whiteComponentUpperPart2Heading{
    height: 68px;
}
.whiteComponentUpperPart2Content{
height: 140px;
}
.whiteContentHorizintalLine{
left: 40%;
bottom: 40%;
}
.whiteComponentSliderContainer{
    width: 580px;
    height: 419px;
    left: 24px;
}
.firstImage{
    width: 280px;
    height: 355px;
}
.otherImages{
    height: 280px;
}
.sliderArrowContainer{
    left: 35%;
}
.whiteComponentSlider{
    height: 460px;
}
.whiteComponentIneerDivUpper{
    height: 220px;
}
.whiteComponentIneerDivUpperHeading {
    height: 92px;
    font-size: 36px;
    line-height: 46px;
    text-align: left;
    width: 86%;
}
.whiteComponentIneerDivUpperContent {
    height: 112px;
    width: 85%;
    font-size: 18px;
    font-weight: 300;
    line-height: 28px;
    letter-spacing: 0em;
    text-align: left;
}
.whiteComponentInnerDivLower{
    height: 2012px;
    gap: 40px;
}
.whiteComponentInnerDivLowerBox{
    flex-direction: column;
}
.whiteComponentInnerDivLowerBoxLeft{
    width: 342px;
    height: 424px;
    gap: 10px;
}
.whiteComponentInnerDivLowerBox{
    height: 575px;
}
.whiteComponentInnerDivLowerBoxLeftNumber{
    margin-top: 15px;
}

}