*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
@media screen and (max-width: 1920px) {
  .designSysystem{
  background-color: #000000;
  height: 7681px;
display: flex;
flex-direction: column;
  position: relative;
  }
  .leftVerticalLine {
    position: absolute;
    top: 0;
    left: 5%; /* Adjust the left position as needed */
    width: 1px; /* Adjust the width of the line */
    height: 100%; /* Adjust the height of the line */
    background-color: #333333; /* Adjust the color of the line */
    content: ''; /* Required for pseudo-elements */
    z-index: 100;
  }
  .rightVerticalLine {
    position: absolute;
    top: 0;
    right: 5%; /* Adjust the left position as needed */
    width: 1px; /* Adjust the width of the line */
    height: 100%; /* Adjust the height of the line */
    background-color: #333333; /* Adjust the color of the line */
    content: ''; /* Required for pseudo-elements */
    z-index: 100;
  }

  .heroSection{
    width: 100%;
    height: 100%;
    max-height: 1146px;
    display: flex;
    flex-direction: column;
  }
  .heroSectionUpper{
    width: 100%;
    height: 396px;
 
  
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
   
  }
  .heroSectionUpperContent{
    width: 42%;
    height: 196px;
    position: absolute;
    flex-direction: column;
    display: flex;
    gap: 40px;


  }
  .heroSectionUpperContentHeading{
font-size: 74px;
font-weight: 400;
line-height: 84px;
letter-spacing: -0.05em;
text-align: center;
color: #FFFFFF;
 }
 .heroSectionUpperContentLine{
font-size: 24px;
font-weight: 300;
line-height: 36px;
letter-spacing: 0em;
text-align: center;
color: #FFFFFF;

}
.heroSectionLower{
  width: 100%;
  height: 750px;
}
.heroSectionImage{
  width: 100%;
  height: 100%;
}

@media (max-width: 1440px){
  .heroSection{
    max-height: 957px;
  }
  .designSysystem{
    height: 7200px;
  }
.heroSectionUpper{
  height: 356px;
}
  .heroSectionUpperContent{
    width: 47%;
    height: 168px;
    gap: 32px;
  }
  .heroSectionLower{
    height: 600px;
  }
  .heroSectionUpperContentHeading{
    font-size: 60px;
  }
  .heroSectionUpperContentLine{
    font-size: 20px;
  }
  .leftVerticalLine {

    left: 5%; /* Adjust the left position as needed */

  }
  .rightVerticalLine {

    right: 5%; /* Adjust the left position as needed */
   
  }
}
@media (max-width: 1024px){
  .heroSection{
    max-height: 616px;
  }
  .heroSectionUpper{
    height: 268px;
  }
  .heroSectionUpperContent{
    width: 51%;
    height: 140px;
    gap: 24px;
    
  }
  .leftVerticalLine {

   display: none; /* Adjust the left position as needed */

  }
  .rightVerticalLine {
display: none;
   
  }
  .heroSectionLower{
    height: 348px;
  }
  .heroSectionUpperContentHeading{
    font-size: 48px;
  }
  .heroSectionUpperContentLine{
    font-size: 16px;
  }
}
@media (max-width: 744px){
  .leftVerticalLine{
    display: none;
  }
  .rightVerticalLine{
    display: none;
  }
  .heroSectionUpper{
    height: 274px;
    display: block;
  }
  .heroSectionUpperContent{
    width: 75%;
    height: 162px;
    gap: 16px;
    align-items: flex-start;
    left: 64px;
    top: 136px;
    
  }
  .heroSectionLower{
    height: 354px;
  }
  .heroSectionUpperContentHeading{
    font-size: 40px;
    text-align: left;

  }
  .heroSectionUpperContentLine{
    font-size: 20px;
    text-align: left;
  }
}
@media (max-width:390px)
{

  .heroSectionUpper{
    height: 331px;
    display: block;
  }
  .heroSectionUpperContent{
    width: 75%;
    height: 220px;
    gap: 16px;
    align-items: flex-start;
    left: 24px;
    top: 131px;
    
  }
  .heroSectionLower{
    height: 488px;
    max-width: 390px;
    overflow: hidden;
  }
  .heroSectionUpperContentHeading{
    font-size: 36px;
    text-align: left;
    line-height: 40px;

  }
  .heroSectionUpperContentLine{
    font-size: 18px;
    text-align: left;
  }
  .heroSectionImage{
    width: 1020px;
  
  }
}
}


@media (max-width:744px){
  .heroSection{
    height: 628px;
  }
  
}
@media (max-width:390px){
  .heroSection{
    max-height: 821px;
    height: 820px;
  }
  
}
